<div class="h-screen bg-neutral-200 flex-col flex items-start">
    <div class="h-48 w-[70%] border rounded-xl  mt-20 ml-20 flex justify-between bg-white shadow-md">
        <div class="flex flex-row">
            <span>Name</span>
            <span></span>
            <span></span>
        </div>
        <div class="flex space-x-4 items-center mx-4">
            <button class="rounded-full bg-green-100 p-2 h-12 w-24">Accept</button>
            <button class=" rounded-full bg-red-100 p-2 h-12 w-24">Decline</button>
        </div>
    </div>

</div>
