<app-navbar></app-navbar>
<div class="flex flex-col flex-wrap bg-slate-300 gap-4 ">


  <div
  *ngFor="let item of datas"
  (click)="toPdp(item.id)"
  [routerLink]="['/pdpView', item._id]"
  class="flex  mt-4 shadow border text-center items-center space-y-3 py-4 rounded-xl  bg-white "
  >
  <a >
  <div
    class="rounded-full   h-28 w-28 lg:h-36 lg:w-36 profile p-5"
  ><img class="image  border-4 border-gray-400/8" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR3Wzw-FFKH-k2mEt1AiVz7QwYCZWu55pyBuv1X2AGuokRGEQjirZN5vua7nRvUxYURDZU&usqp=CAU" alt=""></div>
  <div class=" flex flex-col">

    <div class="flex items-center text-center justify-center pb-2">
      <span class="">{{item.name}}</span>
    </div>
    <div
      class="flex flex-col items-center text-center justify-center"
    >
      <span class="font-light">{{item.work}}</span>
      <span  class="font-normal">{{item.location}}</span>
    </div>
  </div>
</a>
  </div>

</div>
