<div class="h-screen w-screen flex justify-center items-center">
    <!-- <button class="h-14 w-36 bg-blue-600 text-white">send request</button> -->
    <div class="flex flex-col flex-auto space-y-4 overflow-y-auto py-16">

        <div class="flex flex-col  items-center justify-center">
            <div class="flex      mb-4">
                <img class="profile border-4 rounded-full h-64 w-64" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR3Wzw-FFKH-k2mEt1AiVz7QwYCZWu55pyBuv1X2AGuokRGEQjirZN5vua7nRvUxYURDZU&usqp=CAU">
            </div>
            <h2 class="flex text-2xl  justify-center font-medium ">sinan</h2>
        </div>


        <div class="flex flex-col items-center justify-center space-y-2">
            <span class="text-xs font-light">
                Service Charge
            </span>
            <h3 class="text-md font-medium">
                INR750 - INR900
            </h3>
            <button class=" rounded-md py-2 text-white px-5 mt-2 font-medium bg-pink-600">
                Send Request
             </button>
           
        </div>


        <div class="flex flex-col items-center  border-t">
            <div class=" mt-4">
                <span class="text-xs font-extralight">
                    Space required
                </span>
                <h3 class="text-xl font-medium">
                    Private room
                </h3>
            </div>
            <div class=" items-center  justify-center">
                <span class="text-xs font-extralight">
                    Preferred Location
                </span>
                <h3 class="text-xl font-medium">
                    Kelana Jaya, Petaling Jaya
                </h3>
            </div>
        </div>


        <div class="flex items-center  border-t">
            <div class="flex flex-col mt-4  w-full space-y-2">
                <div class="grid grid-cols-2 w-full">
                    <span class="text-base">Gender</span>
                    <span class="text-base">Male</span>
                </div>
                <div class="grid grid-cols-2 w-full">
                    <span class="text-base">Age</span>
                    <span class="text-base">21</span>
                </div>
                <div class="grid grid-cols-2 w-full">
                    <span class="text-base">Status</span>
                    <span class="text-base">Working</span>
                </div>
                <div class="grid grid-cols-2 w-full">
                    <span class="text-base">Nationality</span>
                    <span class="text-base">India</span>
                </div>
               
            </div>
        </div>
        <div class="flex flex-col items-center order-t w-[80%]">
            <h3 class="font-medium text-base mt-4">
                About
            </h3>
            <span class="text-md font-light mt-2">
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Natus doloremque, sequi fugiat quia, eligendi inventore debitis totam fuga consequatur nam praesentium ex distinctio libero quaerat vero perferendis culpa dolorum sed!
            </span>
            <p class="text-md font-light">
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Natus doloremque, sequi fugiat quia, eligendi inventore debitis totam fuga consequatur nam praesentium ex distinctio libero quaerat vero perferendis culpa dolorum sed!
            </p>
        </div>
    </div>

</div>