<div class="">
    <app-navbar></app-navbar>
    <div class="mainSearch h-screen bg-green-500 flex border items-center justify-between">
        <div class="flex flex-col items-center ">
        <span class="font-bold text-6xl ml-52 text-neutral-200">Find a Solution</span>
        <span class="font-bold text-6xl ml-20 text-neutral-200">Be a Solution..</span>
        <button class="bg-blue-800 h-14 w-52 rounded-full ml-52 mt-20 text-white"><img src="" alt="">Explore</button>
        </div>
        <div>
            <img src="../../assets/images/mainPng.png" alt="">
        </div>
    </div>
    <div class="bg-neutral-200 font-bold text-2xl py-4  px-8">Services</div>
    <div class="categories h-96 bg-neutral-200 flex flex-row items-center justify-evenly">
        <a href="" class=" ">
            <div class="h-80 w-64 bg-white shadow-md flex flex-col justify-end items-center rounded-xl">
                <img src="../../assets/images/mechanic.png" class="p-10" alt="">
                Mechanic
            </div>
        </a>
        <a href="" class=" ">
            <div class="h-80 w-64 bg-white shadow-md flex flex-col justify-end items-center rounded-xl">
                <img src="../../assets/images/plumbing.png" class="p-10" alt="">
                Plumber
            </div>
        </a>
        <a href="" class=" ">
            <div class="h-80 w-64 bg-white shadow-md h-80 w-64 bg-gray-600 flex flex-col justify-end items-center rounded-xl">
                <img src="../../assets/images/driver.png" class="pb-8" alt="">
                Automobiles
            </div>
        </a>
        <a href="" class=" ">
            <div class="h-80 w-64 bg-white shadow-md h-80 w-64 bg-gray-600 flex flex-col justify-end items-center rounded-xl">
                <img src="../../assets/images/elctrician.png" class="py-8 " alt="">
                Electrician
            </div>
        </a>
        <a href="" class=" ">
            <div class="h-80 w-64 bg-white shadow-md h-80 w-64 bg-gray-600 flex flex-col justify-end items-center rounded-xl">
                <img src="../../assets/images/homework.png" class="pb-8" alt="">
                Home Workers
            </div>
        </a>
    </div>
    <app-footer></app-footer>
</div>