<div class="">
    <app-navbar></app-navbar>
    <div class="mainSearch h-screen bg-green-300 flex border items-center">
       
        <input class="h-14 w-80 ml-80" type="text" name="" id="">
        
        <button class="bg-blue-800 h-14 w-20"><img src="" alt=""></button>
         
    </div>
    <div class="categories h-96  flex flex-row items-center justify-evenly">
        <a href="" class=" ">
            <div class="h-80 w-64 bg-gray-600 flex flex-col justify-end items-center rounded-xl">
                Mechanic
            </div>
        </a>
        <a href="" class=" ">
            <div class="h-80 w-64 bg-gray-600 flex flex-col justify-end items-center rounded-xl">
                Plumber
            </div>
        </a>
        <a href="" class=" ">
            <div class="h-80 w-64 bg-gray-600 h-80 w-64 bg-gray-600 flex flex-col justify-end items-center rounded-xl">
                Automobiles
            </div>
        </a>
        <a href="" class=" ">
            <div class="h-80 w-64 bg-gray-600 h-80 w-64 bg-gray-600 flex flex-col justify-end items-center rounded-xl">
                Electrician
            </div>
        </a>
        <a href="" class=" ">
            <div class="h-80 w-64 bg-gray-600 h-80 w-64 bg-gray-600 flex flex-col justify-end items-center rounded-xl">
                Home Workers
            </div>
        </a>
    </div>
    <app-footer></app-footer>
</div>